  
<div id="main"  style="padding-top: 2%;">
  <div class="container">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2" >
        
      </div>
      <div class="col-md-5"></div>
    </div>
  
  <div class="card m-3">
    <h5 class="card-header" style="background-color: #fff; color: gray">Upload image</h5>
    <div class="card-body">
 
       <div class="form-row">
          <div class="form-group col-4">
          
          </div>
          <div class="form-group col-4">
            <div class="col-md-12 inputGroupContainer">
              <img [src]="imageUrl" style="width: 100%; height: 100%;" />
              <div style="padding-top:5%;" class="input-group">
                 <input #Image accept="/image" (change)="handleFileInput($event.target.files)" type="file" class="form-control-file">
              </div>
              <div style="padding-top:5%;" class="input-group">
                <button (click)="save()">Upload</button>
              </div>
           </div>
          </div>
          <div class="form-group col-4">
            <img src="/assets/done.jpg" style="width: 70%; height: 70%;" *ngIf="done" />
          </div>
       </div>
    </div>
 </div>
</div>
</div>
